@{
    ViewData["Title"] = "View latest track";
}
<h3 id="title">@ViewData["Title"]</h3>
<div id="map"></div>
<environment names="development">
    <script src="~/js/home.js"></script>
</environment>
<environment names="staging,production">
    <script src="~/js/home.min.js"></script>
</environment>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>